/* styles.css */
/*variable definitions*/
:root {
    --bg: hsl(0, 0%, 31%);
    --fg: #fff;
    --navbg: hwb(0 0% 100%);
}

/* Full-page black background and white text */
html, body {
    height: 100%;
    margin: 0;
    background: var(--bg);
    color: var(--fg);
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
/* Navigation bar styles */
nav{
    overflow: hidden;
    background-color: var(--navbg);
}
/* Navigation bar link styles*/
nav a{
    float: left;
    display: block;
    text-align: center;
    padding: 16px 16px;
    text-decoration: none;
    color: var(--fg);

}
/* Navigation bar hover effect*/
nav a:hover{
    background-color: var(--fg);
    color: var(--navbg);
   
}

/*H1 styles*/
body h1{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: oblique;
    font-size: 48px;

}

/*H2 styles*/
body h2{
    text-align: center;
    font-style: oblique;
    font-size: 32px;

}
/*image styles*/
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border-radius: 8px;
}

/*Intro paragraph styles with div*/
.intro{
    text-align: justify;
    text-indent: 50px;
    align-items: center;
    gap: 5rem;
    font-size: 20px;
    margin: 0 30%;
}

/*Intro links styles*/
.intro a{
    color: var(--fg);
    text-decoration: underline;
}

/*Intro links hover effect*/
.intro a:hover{
    background-color: var(--fg);
    color: var(--navbg);
}   

/*Contact form styles*/
form{
    text-align: center;
    font-size: 20px;
    margin-top: 20px;
}

/*Projects section styles*/
.projects{
    text-align: justify;
    text-indent: 50px;
    align-items: center;
    gap: 5rem;
    font-size: 20px;
    margin: 0 20%;
}

/*Project links styles*/
.projects a{
    color: var(--fg);
    text-decoration: underline;
}

/*Project links hover effect*/
.projects a:hover{
    background-color: var(--fg);
    color: var(--navbg);
}


body footer{
    text-align: center;
    font-size: 16px;
    margin-top: 20px;
    padding: 10px;
}


